* {
    margin : 0;
    padding: 0;
}

body{
 display : flex;
 flex-direction : column;
 align-items: center;
 font-family: 'Titillium Web', sans-serif;
}

.global {
    display : flex;
    justify-content: center;
    min-height : 40vh;
}

.global > section,
.global > header,
.global > footer {
    flex : 0 1 100vw;
}

#entete{
    position: relative;
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    width: var(--largeur-header);
}
#accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
    width: var(--largeur-section);
}
#evenement{
    position: relative;
    background: linear-gradient(var(--couleur-arriere-accueil) 50%, var(--couleur-arriere-galerie) 50%);
    color: var(--couleur-evenement);
    width: var(--largeur-section);
    z-index: 1;
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    width: var(--largeur-section);
    position: relative;
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
    width: var(--largeur-footer);
}