*, 
*::before,
*::after {
    box-sizing: border-box;
}

body{
 display : flex;
 flex-direction : column;
 font-family: 'Titillium Web', sans-serif;
}

.global {
    display: flex;
    justify-content: center;
    min-height : 30vh;
}

.global > section,
.global > header,
.global > footer {
    flex : 0 1 1100px;
    padding: 5rem 1rem;
}

.global > header {
    flex: 0 1 1300px;
}

blockquote {
    isolation: auto;
    background: radial-gradient(var(--couleur-arriere-evenement) 50%, var(--couleur-arriere-accueil));
    width: 40vw;
    padding: 5px;
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
}
#accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
}
#evenement{
    position: relative;
    background: linear-gradient(var(--couleur-arriere-accueil) 50%, var(--couleur-arriere-galerie) 50%);
    color: var(--couleur-evenement);
    z-index: 1;
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    position: relative;
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
}