*, 
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
 display : flex;
 flex-direction : column;
 font-family: 'Titillium Web', sans-serif;
}

.global {
    display: flex;
    justify-content: center;
    align-items: center;
    //min-height: 30vh;
}

.global > section,
.global > footer
.global > .entete__menu {
    flex : 0 1 1100px;
    padding: 10rem 1rem;
}

.global > header {
    flex: 0 1 1300px;
}

@media (max-width: 500px) {
    .global > section,
    .global > footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    blockquote {
        width: 60vw;
    }
}

blockquote {
    isolation: auto;
    background: radial-gradient(var(--couleur-arriere-evenement) 50%, var(--couleur-arriere-accueil));
    width: 40vw;
    padding: 5px;
}


#menu {
    background-color: var(--couleur-arriere-entete);
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
}
#accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
}
#evenement{
    position: relative;
    background: linear-gradient(var(--couleur-arriere-accueil) 50%, var(--couleur-arriere-galerie) 50%);
    color: var(--couleur-evenement);
    z-index: 1;
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
    position: relative;
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
    min-height: 20vh;
}