:root {
    --couleur-arriere-entete : #653cd698;
    --couleur-arriere-accueil : rgba(55, 160, 107, 0.767);
    --couleur-arriere-evenement : rgba(10, 20, 110, 0.651);
    --couleur-arriere-galerie : rgba(170, 111, 43, 0.445);
    --couleur-arriere-footer : rgba(158, 0, 0, 0.664);
}