.section__carte {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.carte {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 calc(1000px/4);
    background-color: var(--couleur-arriere-evenement);
}

.carte *{
    text-align: center;
}