.a__section {
    color: black;
    font-size: clamp(0.25rem, -0.25rem + 3.25vw, 1.5rem);
    font-weight: 100;
    font-style: normal;

    &:hover {
        color : rebeccapurple;
    }

    &:focus {
        color : aqua;
    }

    &:visited {
        color : rgb(50, 133, 180);
    }
}