.a__section {
    color: var(--couleur-lien);
    font-size: clamp(0.25rem, -0.25rem + 3.25vw, 1.5rem);
    font-weight: 100;
    font-style: normal;

    &:hover {
        color : var(--couleur-lien-hover);
    }

    &:focus {
        color : var(--couleur-lien-focus);
    }

    &:visited {
        color : var(--couleur-lien-visited);
    }
}